Our initial null hypothesis is that CO2 has no impact on birthrate.      
**1974 ANOVA:** We fail to reject the null hypothesis.     
**1984 ANOVA:** We reject the null hypothesis.  **Statistical significance.**          
**1994 ANOVA:** Again, we reject the null hypothesis.  **Statistical significance.**          
**2004 ANOVA:** We reject the null hypothesis.  **Statistical significance.**           
**2014 ANOVA:** We fail to reject the null hypothesis.

**1974 independent t-test**      
1.) low v mid co2 group: pvalue=0.19116443352329557               
2.) low v high co2 group: pvalue=0.04972510869748724  **statistically significant**       
3.) mid v high co2 group: pvalue=0.11417299856100048    
**1984 independent t-test**      
1.) low v mid co2 group: pvalue=0.001322492667227697  **statistically significant**             
2.) low v high co2 group: pvalue=0.6231034774169064   
3.) mid v high co2 group: pvalue=0.4649917518020482     
**1994 independent t-test**      
1.) low v mid co2 group: pvalue=2.0456190226109258e-07  **statistically significant**                    
2.) low v high co2 group: pvalue=0.06731869902518281         
3.) mid v high co2 group: pvalue=0.16835126798273775          
**2004 independent t-test**      
1.) low v mid co2 group: pvalue=8.766856976516902e-09  **statistically significant**                    
2.) low v high co2 group: pvalue=2.9850813435716226e-05  **statistically significant**          
3.) mid v high co2 group: pvalue=0.25313922444906123    
**2014 independent t-test**      
1.) low v mid co2 group: pvalue=5.780655003320307e-05  **statistically significant**               
2.) low v high co2 group: pvalue=0.0001383794422842055  **statistically significant**    
3.) mid v high co2 group: pvalue=0.25224938444185263

# 1974:
**ANOVA**     
We fail to reject the null hypothesis that the three groups (low, mid, and high level co2) have the same mean.     
(pvalue=0.11840330378773414)     

**INDEPENDENT T-TEST**     
We fail to reject the null hypothesis that the low co2 and mid co2 populations have the same mean.     
(pvalue=0.19116443352329557)     
     
We reject the null hypothesis that the low co2 and high co2 populations have the same mean.     
(pvalue=0.04972510869748724)     

We fail to reject the null hypothesis that the mid co2 and high co2 populations have the same mean.     
(pvalue=0.11417299856100048)

# 1984:
**ANOVA**     
We reject the null hypothesis that the three groups (low, mid, and high level co2) have the same mean.      
(pvalue=0.0052469295784811605)      

**INDEPENDENT T-TEST**     
We reject the null hypothesis that the low co2 and mid co2 populations have the same mean.     
(pvalue=0.001322492667227697)     
     
We fail to reject the null hypothesis that the low co2 and high co2 populations have the same mean.     
(pvalue=0.6231034774169064)     

We fail to reject the null hypothesis that the mid co2 and high co2 populations have the same mean.     
(pvalue=0.4649917518020482)

# 1994:
**ANOVA**     
We reject the null hypothesis that the three groups (low, mid, and high level co2) have the same mean.      
(pvalue=0.0001972143158635787)     

**INDEPENDENT T-TEST**     
We reject the null hypothesis that the low co2 and mid co2 populations have the same mean.     
(pvalue=2.0456190226109258e-07)     
     
We fail to reject the null hypothesis that the low co2 and high co2 populations have the same mean.     
(pvalue=0.06731869902518281)     

We fail to reject the null hypothesis that the mid co2 and high co2 populations have the same mean.     
(pvalue=0.16835126798273775)

# 2004:
**ANOVA**     
We reject the null hypothesis that the three groups (low, mid, and high level co2) have the same mean.      
(pvalue=0.0008060396295975093)     

**INDEPENDENT T-TEST**     
We reject the null hypothesis that the low co2 and mid co2 populations have the same mean.     
(pvalue=8.766856976516902e-09)     
     
We reject the null hypothesis that the low co2 and high co2 populations have the same mean.     
(pvalue=2.9850813435716226e-05)     

We fail to reject the null hypothesis that the mid co2 and high co2 populations have the same mean.     
(pvalue=0.25313922444906123)

# 2014:
**ANOVA**     
We fail to reject the null hypothesis that the three groups (low, mid, and high level co2) have the same mean.      
(pvalue=0.11840330378773414)     

**INDEPENDENT T-TEST**     
We reject the null hypothesis that the low co2 and mid co2 populations have the same mean.     
(pvalue=5.780655003320307e-05)     
     
We reject the null hypothesis that the low co2 and high co2 populations have the same mean.     
(pvalue=0.0001383794422842055)     

We fail to reject the null hypothesis that the mid co2 and high co2 populations have the same mean.     
(pvalue=0.25224938444185263)