In [1]:
%matplotlib notebook

In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [ ]:
# Bernt's code starts here

In [3]:
# Importing necessary dataframes

birthrate_csv = "../project-one/Resources/children_per_woman_total_fertility.csv"
birthrate_df = pd.read_csv(birthrate_csv)
birthrate_df.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.04,5.82,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33
1,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.65,1.65,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71
2,Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.83,2.89,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64
3,Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,...,6.24,6.16,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55
4,Antigua and Barbuda,5.00,5.00,4.99,4.99,4.99,4.98,4.98,4.97,4.97,...,2.15,2.13,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03

In [4]:
co2_csv = "../project-one/Resources/co2_emissions_tonnes_per_person.csv"
co2_df = pd.read_csv(co2_csv)
co2_df.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0529,0.0637,0.0854,0.154,0.242,0.294,0.412,0.35,0.316,0.299
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3800,1.2800,1.3000,1.460,1.480,1.560,1.790,1.68,1.730,1.960
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2200,2.9900,3.1900,3.160,3.420,3.300,3.290,3.46,3.510,3.720
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.3000,6.7500,6.5200,6.430,6.120,6.120,5.870,5.92,5.900,5.830
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9800,1.1000,1.2000,1.180,1.230,1.240,1.250,1.33,1.250,1.290

In [ ]:
income_csv = "../project-one/Resources/income_per_person_gdppercapita_ppp_inflation_adjusted.csv"
income_df = pd.read_csv(income_csv)
income_df.head()
# units are in dollars, I believe

In [ ]:
population_csv = "../project-one/Resources/population_total.csv"
population_df = pd.read_csv(population_csv)
population_df.head()

In [ ]:
# For reference only:
# these are the years we are interested in:  [1804, 1834, 1864, 1894, 1824, 1954, 1984, and 2014]

In [ ]:
# Step 2: Merge the data...BUT FIRST!! To prep for an inner join (where the only data merged is
# whatever matches in our reference columns), we can dropna() first, and then merge

# Removing "not a number's"

#birthrate_df = birthrate_df.dropna()
#co2_df = co2_df.dropna()

In [ ]:
# Step 3: Clean the data (dropna, isolate the specific year columns we're interested in)

In [ ]:
# Step 4: Plot our data with CO2 emissions on the x-axis, and birthrate on the y-axis
# BONUS: try formatting dot size by population or income level

In [ ]:
# Bernt's code ends here

In [ ]:
# Kaan's code starts here

In [ ]:
# Kaan's code ends here

In [ ]:
# Molly's code starts here

In [ ]:
# Molly's code stops here

In [5]:
# Vallie's code starts here

#print out the birthrate df
birthrate_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.04,5.82,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33
1,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.65,1.65,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71
2,Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.83,2.89,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64
3,Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,...,6.24,6.16,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55
4,Antigua and Barbuda,5.00,5.00,4.99,4.99,4.99,4.98,4.98,4.97,4.97,...,2.15,2.13,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,5.63,5.63,5.64,5.64,5.64,5.65,5.65,5.65,5.66,...,2.50,2.47,2.44,2.42,2.39,2.37,2.34,2.32,2.29,2.27
180,Vietnam,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,...,1.94,1.95,1.95,1.96,1.96,1.96,1.96,1.95,1.95,1.95
181,Yemen,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,...,4.80,4.67,4.55,4.44,4.33,4.22,4.10,4.00,3.89,3.79
182,Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,5.48,5.40,5.32,5.24,5.17,5.10,5.04,4.98,4.93,4.87
183,Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,4.02,4.03,4.02,4.00,3.96,3.90,3.84,3.76,3.68,3.61

In [6]:
#print out the co2 dataframe
co2_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0529,0.0637,0.0854,0.154,0.242,0.294,0.412,0.350,0.316,0.299
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3800,1.2800,1.3000,1.460,1.480,1.560,1.790,1.680,1.730,1.960
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2200,2.9900,3.1900,3.160,3.420,3.300,3.290,3.460,3.510,3.720
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.3000,6.7500,6.5200,6.430,6.120,6.120,5.870,5.920,5.900,5.830
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9800,1.1000,1.2000,1.180,1.230,1.240,1.250,1.330,1.250,1.290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.1600,6.2200,5.8100,6.360,6.290,6.510,6.000,6.650,6.070,6.030
188,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1600,1.2100,1.2200,1.360,1.470,1.610,1.700,1.570,1.610,1.800
189,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9740,1.0100,0.9640,0.999,1.070,0.993,0.811,0.749,0.997,0.865
190,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1900,0.1850,0.1520,0.166,0.186,0.194,0.206,0.249,0.261,0.288
191,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8320,0.7960,0.7420,0.573,0.406,0.552,0.665,0.530,0.776,0.780

In [7]:
#merge birthrate and co2 dataframes on country
co2_br_merge = pd.merge(co2_df, birthrate_df, on="country")
co2_br_merge

,country,1800_x,1801_x,1802_x,1803_x,1804_x,1805_x,1806_x,1807_x,1808_x,...,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015,2016,2017,2018
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.04,5.82,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.65,1.65,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.83,2.89,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.24,6.16,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.15,2.13,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.50,2.47,2.44,2.42,2.39,2.37,2.34,2.32,2.29,2.27
180,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.94,1.95,1.95,1.96,1.96,1.96,1.96,1.95,1.95,1.95
181,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.80,4.67,4.55,4.44,4.33,4.22,4.10,4.00,3.89,3.79
182,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.48,5.40,5.32,5.24,5.17,5.10,5.04,4.98,4.93,4.87
183,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.02,4.03,4.02,4.00,3.96,3.90,3.84,3.76,3.68,3.61

In [11]:
#rename columns
co2_br_rename = co2_br_merge.rename(columns={"country": "Country",
                                             "1974_x": "1974 CO2 Emissions",
                                             "1984_x": "1984 CO2 Emissions",
                                             "1994_x": "1994 CO2 Emissions",
                                             "2004_x": "2004 CO2 Emissions",
                                             "2014_x": "2014 CO2 Emissions",
                                             "1974_y": "1974 Birthrate",
                                             "1984_y": "1984 Birthrate",
                                             "1994_y": "1994 Birthrate",
                                             "2004_y": "2004 Birthrate",
                                             "2014_y": "2014 Birthrate"})
co2_br_rename

,Country,1800_x,1801_x,1802_x,1803_x,1804_x,1805_x,1806_x,1807_x,1808_x,...,2009_y,2010_y,2011_y,2012_y,2013_y,2014 Birthrate,2015,2016,2017,2018
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.04,5.82,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.65,1.65,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.83,2.89,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.24,6.16,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.15,2.13,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.50,2.47,2.44,2.42,2.39,2.37,2.34,2.32,2.29,2.27
180,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.94,1.95,1.95,1.96,1.96,1.96,1.96,1.95,1.95,1.95
181,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.80,4.67,4.55,4.44,4.33,4.22,4.10,4.00,3.89,3.79
182,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.48,5.40,5.32,5.24,5.17,5.10,5.04,4.98,4.93,4.87
183,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.02,4.03,4.02,4.00,3.96,3.90,3.84,3.76,3.68,3.61

In [12]:
#make df with only the columns we want to keep
co2_br_df = co2_br_rename[["Country", "1974 CO2 Emissions", "1984 CO2 Emissions", "1994 CO2 Emissions", "2004 CO2 Emissions", "2014 CO2 Emissions",
                           "1974 Birthrate", "1984 Birthrate", "1994 Birthrate", "2004 Birthrate", "2014 Birthrate"]]
co2_br_df

,Country,1974 CO2 Emissions,1984 CO2 Emissions,1994 CO2 Emissions,2004 CO2 Emissions,2014 CO2 Emissions,1974 Birthrate,1984 Birthrate,1994 Birthrate,2004 Birthrate,2014 Birthrate
0,Afghanistan,0.156,0.235,0.080,0.0394,0.299,7.45,7.46,7.57,6.99,4.98
1,Albania,1.840,2.700,0.613,1.3400,1.960,4.37,3.32,2.67,1.82,1.71
2,Algeria,1.960,3.250,3.050,2.7000,3.720,7.51,6.04,3.70,2.44,2.89
3,Angola,0.652,0.487,0.281,0.9960,1.290,7.61,7.39,6.99,6.50,5.84
4,Antigua and Barbuda,6.050,2.070,3.730,4.7800,5.380,2.91,2.10,2.17,2.25,2.08
...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,5.780,5.460,5.980,5.7600,6.030,4.78,3.86,3.15,2.66,2.37
180,Vietnam,0.400,0.294,0.355,1.0800,1.800,6.13,4.36,2.90,1.89,1.96
181,Yemen,0.337,0.757,0.617,0.9430,0.865,8.12,8.86,7.80,5.60,4.22
182,Zambia,0.876,0.418,0.272,0.1830,0.288,7.38,6.81,6.23,5.86,5.10
183,Zimbabwe,1.530,1.190,1.600,0.7420,0.780,7.41,6.44,4.56,3.98,3.90

In [16]:
#create 1974 dataframe, co2 descending order
df_1974 = co2_br_df[["Country", "1974 CO2 Emissions", "1974 Birthrate"]].sort_values("1974 CO2 Emissions", ascending=False).reset_index()
df_1974 = df_1974[["Country", "1974 CO2 Emissions", "1974 Birthrate"]]
df_1974

                  Country  1974 CO2 Emissions  1974 Birthrate
0                   Qatar                68.2            6.58
1    United Arab Emirates                66.5            6.25
2                  Brunei                52.8            5.56
3              Luxembourg                41.0            1.63
4                 Bahamas                39.9            3.33
..                    ...                 ...             ...
179             Palestine                 NaN            7.65
180                Serbia                 NaN            2.36
181              Slovenia                 NaN            2.20
182           South Sudan                 NaN            6.93
183           Timor-Leste                 NaN            5.04

[184 rows x 3 columns]

In [ ]:
#for reference, filling and dropping nan rows

#filling empty rows with nan &n previewing
#co2_2000 = co2_2000.replace(r'^\s*$', np.nan, regex=True)
#co2_2000

#finding the rows with nan values and previewing
#co2_nan = co2_2000[co2_2000.isna().any(axis = 1)]
#co2_nan

In [ ]:
#final formatting for co2, year 2000 dataframe

#drop empty rows and reset index
co2_2000 = co2_2000.dropna().reset_index()

#delete newly create index row & preview
co2_2000 = co2_2000[["country", "2000"]]
co2_2000

In [ ]:
# Vallie's code stops here