analysis after last linear regression...

Based off of linear regression alone, there doesn't appear to be a statistically significant correlation between co2 and birthrate, over any of the years Kaan and I looked at. Could it be of significance that 4 of the 5 years I tested had an r-value that fell within a .058 window of each other? 1974 was the farthest away from the rest, with an r-value of -.28, classified as a weak correlation (the rest fell under a 'moderate' correlation).

after anova & t-tests on 1974

**ANALYSIS:**  Looking at 1974, we fail to reject the null hypothesis that all three co2 level groups have the same mean birthrate.  But when comparing the groups to one another, we found that there could be statistically significant data in the low v high comparison.

after anova & t-tests on 1984

**ANALYSIS:**  The 1984 anova test has a statistically significant p-value of 0.0002, meaning we reject the null hypothesis.  When comparing the three co2 groups against one another, low level versus mid level is the only comparison where we also rejected the null hypothesis.  Not being well-versed in statistics, could it be worthwhile to further explore why the anova test rejected the null hypothesis but the t-test only rejected the null hypothesis on 1 out of the 3 comparisons?

after anova and t-tests on 1994

**ANALYSIS:**  Similar to 1984, we reject the null hypothesis that the three co2 groups have the same birthrate means.  This is a statistically significant result.  And running the independent t-test, we found one p-value under .05, looking at the low versus mid co2 groups.     

*important to note:*  We pulled out a singleton high-level co2 value from the 1994 data.  Is it worth exploring further, maybe breaking the data into smaller subsets, or running different statistical tests?

after anova & t-tests 2004

**ANALYSIS:**  In line with 1984 and 1994, the anova produced a rejection of the null hypothesis.  And then testing the groups against one another, we also reject the null hypothesis as it pertains to the low v mid co2 group and low v high co2 group.

*important to note:*  Similar to 1994, we pulled out a singleton high-level co2 datapoint.

after anova & t-tests 2014

**ANALYSIS:**  The anova test performed on the 2014 data set resulted in a failure to reject the null hypothesis.  While this isn't statistically significant, we did find statistical significance when performing independent t-tests on both low v mid co2 groups and low v high co2 groups.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress
from scipy import stats
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
# Bernt's code starts here

In [ ]:
# Importing necessary dataframes

birthrate_csv = "../project-one/Resources/children_per_woman_total_fertility.csv"
birthrate_df = pd.read_csv(birthrate_csv)
birthrate_df.head()

In [ ]:
co2_csv = "../project-one/Resources/co2_emissions_tonnes_per_person.csv"
co2_df = pd.read_csv(co2_csv)
co2_df.head()

In [ ]:
income_csv = "../project-one/Resources/income_per_person_gdppercapita_ppp_inflation_adjusted.csv"
income_df = pd.read_csv(income_csv)
income_df.head()
# units are in dollars, I believe

In [ ]:
population_csv = "../project-one/Resources/population_total.csv"
population_df = pd.read_csv(population_csv)
population_df.head()

In [ ]:
# For reference only:
# these are the years we are interested in:  [1804, 1834, 1864, 1894, 1824, 1954, 1984, and 2014]

In [ ]:
# Step 2: Merge the data...BUT FIRST!! To prep for an inner join (where the only data merged is
# whatever matches in our reference columns), we can dropna() first, and then merge

# Removing "not a number's"

#birthrate_df = birthrate_df.dropna()
#co2_df = co2_df.dropna()

In [ ]:
# Step 3: Clean the data (dropna, isolate the specific year columns we're interested in)

In [ ]:
# Step 4: Plot our data with CO2 emissions on the x-axis, and birthrate on the y-axis
# BONUS: try formatting dot size by population or income level

In [ ]:
# Bernt's code ends here

In [ ]:
# Kaan's code starts here

In [ ]:
# Kaan's code ends here

In [ ]:
# Molly's code starts here

In [ ]:
# Molly's code stops here

In [ ]:
# Vallie's code starts here

#print out the birthrate df
birthrate_df

In [ ]:
#print out the co2 dataframe
co2_df

In [ ]:
#merge birthrate and co2 dataframes on country
co2_br_merge = pd.merge(co2_df, birthrate_df, on="country")
co2_br_merge

In [ ]:
#rename columns
co2_br_rename = co2_br_merge.rename(columns={"country": "Country",
                                             "1974_x": "1974 CO2 Emissions",
                                             "1984_x": "1984 CO2 Emissions",
                                             "1994_x": "1994 CO2 Emissions",
                                             "2004_x": "2004 CO2 Emissions",
                                             "2014_x": "2014 CO2 Emissions",
                                             "1974_y": "Birthrate_1974",
                                             "1984_y": "Birthrate_1984",
                                             "1994_y": "Birthrate_1994",
                                             "2004_y": "Birthrate_2004",
                                             "2014_y": "Birthrate_2014"})
co2_br_rename

In [ ]:
#make df with only the columns we want to keep
co2_br_df = co2_br_rename[["Country", "1974 CO2 Emissions", "1984 CO2 Emissions", "1994 CO2 Emissions", "2004 CO2 Emissions", "2014 CO2 Emissions",
                           "Birthrate_1974", "Birthrate_1984", "Birthrate_1994", "Birthrate_2004", "Birthrate_2014"]]
co2_br_df

In [ ]:
#create 1974 dataframe, co2 descending order
df_1974 = co2_br_df[["Country", "1974 CO2 Emissions", "Birthrate_1974"]].sort_values("1974 CO2 Emissions", ascending=False).reset_index()
df_1974 = df_1974[["Country", "1974 CO2 Emissions", "Birthrate_1974"]]
df_1974

In [ ]:
#drop rows with nan values
df_1974 = df_1974.dropna()
df_1974

In [ ]:
#run linear regression on co2 v birthrate (year 1974)

#first create scatter plot
x_values = df_1974["1974 CO2 Emissions"]
y_values = df_1974["Birthrate_1974"]
plt.scatter(x_values, y_values, edgecolors="black")
plt.xlabel("CO2 Emissions (tons/person)")
plt.ylabel("Birthrate (child/woman)")
plt.title("CO2 Emissions v Birthrate (1974)")

In [ ]:
#perform a linear regression on co2 v birthrate (year 1974)
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_values, y_values)

#get regression values
regress_values = x_values * slope + intercept
print(regress_values)

In [ ]:
#create line equation string
line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))
print(line_eq)

In [ ]:
#create plot
plt.scatter(x_values,y_values,edgecolors="black")
plt.plot(x_values,regress_values,"r-")

#label plot and annotate the line equation
plt.xlabel('CO2 Emissions')
plt.ylabel('Birthrate')
plt.annotate(line_eq,(20,5),fontsize=15,color="red")
plt.title("CO2 Emissions v Birthrate (1974)")

# Print r square value
print(f"The r-squared is: {rvalue}")

#save plot to images folder
plt.savefig(os.path.join("Images","1974_co2_v_birthrate.png"))

#show plot
plt.show()

In [ ]:
#create 1984 dataframe, co2 descending order
df_1984 = co2_br_df[["Country", "1984 CO2 Emissions", "Birthrate_1984"]].sort_values("1984 CO2 Emissions", ascending=False).reset_index()
df_1984 = df_1984[["Country", "1984 CO2 Emissions", "Birthrate_1984"]]
df_1984

In [ ]:
#drop rows with nan values
df_1984 = df_1984.dropna()
df_1984

In [ ]:
#run linear regression on co2 v birthrate (year 1984)

#first create scatter plot
x_values = df_1984["1984 CO2 Emissions"]
y_values = df_1984["Birthrate_1984"]
plt.scatter(x_values, y_values, edgecolors="black")
plt.xlabel("CO2 Emissions (tons/person)")
plt.ylabel("Birthrate (child/woman)")
plt.title("CO2 Emissions v Birthrate (1984)")

In [ ]:
#perform a linear regression on co2 v birthrate (year 1984)
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_values, y_values)

#get regression values
regress_values = x_values * slope + intercept
print(regress_values)

In [ ]:
#create line equation string
line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))
print(line_eq)

In [ ]:
#create plot
plt.scatter(x_values,y_values,edgecolors="black")
plt.plot(x_values,regress_values,"r-")

#label plot and annotate the line equation
plt.xlabel('CO2 Emissions')
plt.ylabel('Birthrate')
plt.annotate(line_eq,(20,5),fontsize=15,color="red")
plt.title("CO2 Emissions v Birthrate (1984)")

# Print r square value
print(f"The r-squared is: {rvalue}")

#save plot to images folder
plt.savefig(os.path.join("Images","1984_co2_v_birthrate.png"))

#show plot
plt.show()

In [ ]:
#create 1994 dataframe, co2 descending order
df_1994 = co2_br_df[["Country", "1994 CO2 Emissions", "Birthrate_1994"]].sort_values("1994 CO2 Emissions", ascending=False).reset_index()
df_1994 = df_1994[["Country", "1994 CO2 Emissions", "Birthrate_1994"]]
df_1994

In [ ]:
#drop rows with nan values
df_1994 = df_1994.dropna()
df_1994

In [ ]:
#run linear regression on co2 v birthrate (year 1994)

#first create scatter plot
x_values = df_1994["1994 CO2 Emissions"]
y_values = df_1994["Birthrate_1994"]
plt.scatter(x_values, y_values, edgecolors="black")
plt.xlabel("CO2 Emissions (tons/person)")
plt.ylabel("Birthrate (child/woman)")
plt.title("CO2 Emissions v Birthrate (1994)")

In [ ]:
#perform a linear regression on co2 v birthrate (year 1994)
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_values, y_values)

#get regression values
regress_values = x_values * slope + intercept
print(regress_values)

In [ ]:
#create line equation string
line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))
print(line_eq)

In [ ]:
#create plot
plt.scatter(x_values,y_values,edgecolors="black")
plt.plot(x_values,regress_values,"r-")

#label plot and annotate the line equation
plt.xlabel("CO2 Emissions")
plt.ylabel("Birthrate")
plt.annotate(line_eq,(20,5),fontsize=15,color="red")
plt.title("CO2 Emissions v Birthrate (1994)")

# Print r square value
print(f"The r-squared is: {rvalue}")

#save plot to images folder
plt.savefig(os.path.join("Images","1994_co2_v_birthrate.png"))

#show plot
plt.show()

In [ ]:
#create 2004 dataframe, co2 descending order
df_2004 = co2_br_df[["Country", "2004 CO2 Emissions", "Birthrate_2004"]].sort_values("2004 CO2 Emissions", ascending=False).reset_index()
df_2004 = df_2004[["Country", "2004 CO2 Emissions", "Birthrate_2004"]]
df_2004

In [ ]:
#drop rows with nan values
df_2004 = df_2004.dropna()
df_2004

In [ ]:
#run linear regression on co2 v birthrate (year 2004)

#first create scatter plot
x_values = df_2004["2004 CO2 Emissions"]
y_values = df_2004["Birthrate_2004"]
plt.scatter(x_values, y_values, edgecolors="black")
plt.xlabel("CO2 Emissions (tons/person)")
plt.ylabel("Birthrate (child/woman)")
plt.title("CO2 Emissions v Birthrate (2004)")

In [ ]:
#perform a linear regression on co2 v birthrate (year 2004)
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_values, y_values)

#get regression values
regress_values = x_values * slope + intercept
print(regress_values)

In [ ]:
#create line equation string
line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))
print(line_eq)

In [ ]:
#create plot
plt.scatter(x_values,y_values,edgecolors="black")
plt.plot(x_values,regress_values,"r-")

#label plot and annotate the line equation
plt.xlabel('CO2 Emissions')
plt.ylabel('Birthrate')
plt.annotate(line_eq,(20,5),fontsize=15,color="red")
plt.title("CO2 Emissions v Birthrate (2004)")

# Print r square value
print(f"The r-squared is: {rvalue}")

#save plot to images folder
plt.savefig(os.path.join("Images","2004_co2_v_birthrate.png"))

#show plot
plt.show()

In [ ]:
#create 2014 dataframe, co2 descending order
df_2014 = co2_br_df[["Country", "2014 CO2 Emissions", "Birthrate_2014"]].sort_values("2014 CO2 Emissions", ascending=False).reset_index()
df_2014 = df_2014[["Country", "2014 CO2 Emissions", "Birthrate_2014"]]
df_2014

In [ ]:
#drop rows with nan values
df_2014 = df_2014.dropna()
df_2014

In [ ]:
#run linear regression on co2 v birthrate (year 2014)

#first create scatter plot
x_values = df_2014["2014 CO2 Emissions"]
y_values = df_2014["Birthrate_2014"]
plt.scatter(x_values, y_values, edgecolors="black")
plt.xlabel("CO2 Emissions (tons/person)")
plt.ylabel("Birthrate (child/woman)")
plt.title("CO2 Emissions v Birthrate (2014)")

In [ ]:
#perform a linear regression on co2 v birthrate (year 2014)
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_values, y_values)

#get regression values
regress_values = x_values * slope + intercept
print(regress_values)

In [ ]:
#create line equation string
line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))
print(line_eq)

In [ ]:
#create plot
plt.scatter(x_values,y_values,edgecolors="black")
plt.plot(x_values,regress_values,"r-")

#label plot and annotate the line equation
plt.xlabel('CO2 Emissions')
plt.ylabel('Birthrate')
plt.annotate(line_eq,(20,5),fontsize=15,color="red")
plt.title("CO2 Emissions v Birthrate (2014)")

# Print r square value
print(f"The r-squared is: {rvalue}")

#save plot to images folder
plt.savefig(os.path.join("Images","2014_co2_v_birthrate.png"))

#show plot
plt.show()

In [ ]:
df_1974.describe()

In [ ]:
#try binning on the 1974 df
#group by co2 emissions <=22.73, (22.73, 45.46], > 45.46

#create bins to place the carbon emissions
bins = [0, 22.72, 45.46, 69]

#create labels for the bins
group_labels = ["Low-Level CO2", "Mid-Level CO2", "High-Level CO2"]

In [ ]:
 # Slice the data and place it into bins
pd.cut(df_1974["1974 CO2 Emissions"], bins, labels=group_labels).head()

In [ ]:
#place the data series into a new column inside of the DataFrame
df_1974["CO2 Group"] = pd.cut(df_1974["1974 CO2 Emissions"], bins, labels=group_labels)
df_1974

In [ ]:
#try running ANOVA on the above dataframe

#create a boxplot to compare means
df_1974.boxplot("Birthrate_1974", by="CO2 Group", figsize=(20, 10))

In [ ]:
#extract individual groups
group1 = df_1974[df_1974["CO2 Group"] == "Low-Level CO2"]["Birthrate_1974"]
group2 = df_1974[df_1974["CO2 Group"] == "Mid-Level CO2"]["Birthrate_1974"]
group3 = df_1974[df_1974["CO2 Group"] == "High-Level CO2"]["Birthrate_1974"]

In [ ]:
#perform the anova
stats.f_oneway(group1, group2, group3)

In [ ]:
#we fail to reject the null hypothesis (that the 'populations' have the same mean)

In [ ]:
#independent t-test
#null hypothesis is that two populations have identical means
#calculate the 'population' mean for birthrate in lowest co2 group (year 1974)
population1 = df_1974[df_1974["CO2 Group"] == "Low-Level CO2"]
population1.Birthrate_1974.mean()

In [ ]:
# Calculate the 'population' mean for birthrate in mid co2 group (year 1974)
population2 = df_1974[df_1974["CO2 Group"] == "Mid-Level CO2"]
population2.Birthrate_1974.mean()

In [ ]:
# Calculate the 'population' mean for birthrate in highest co2 group (year 1974)
population3 = df_1974[df_1974["CO2 Group"] == "High-Level CO2"]
population3.Birthrate_1974.mean()

In [ ]:
#calculate independent (two sample) t-test, low v mid (1974)
#null hypothesis is that the low co2 and mid co2 populations have the same mean
stats.ttest_ind(population1.Birthrate_1974, population2.Birthrate_1974, equal_var=False)

In [ ]:
#we fail to reject the null hypothesis
#~we can't prove that the means for low co2 and mid co2 (year 1974) are not equal

In [ ]:
#calculate independent (two sample) t-test, low v high (1974)
stats.ttest_ind(population1.Birthrate_1974, population3.Birthrate_1974, equal_var=False)

In [ ]:
#calculate independent (two sample) t-test, mid v high (1974)
stats.ttest_ind(population2.Birthrate_1974, population3.Birthrate_1974, equal_var=False)

In [ ]:
df_1984.describe()

In [ ]:
#try binning on the 1984 df
#group by co2 emissions <=12.06, (12.06, 24.08], > 24.08

#create bins to place the carbon emissions
bins = [0, 12.06, 24.08, 36.2]

#create labels for the bins
group_labels = ["Low-Level CO2", "Mid-Level CO2", "High-Level CO2"]

In [ ]:
 # Slice the data and place it into bins
pd.cut(df_1984["1984 CO2 Emissions"], bins, labels=group_labels).head()

In [ ]:
#place the data series into a new column inside of the DataFrame
df_1984["CO2 Group"] = pd.cut(df_1984["1984 CO2 Emissions"], bins, labels=group_labels)
df_1984

In [ ]:
#try running ANOVA on the above dataframe

#create a boxplot to compare means
df_1984.boxplot("Birthrate_1984", by="CO2 Group", figsize=(20, 10))

In [ ]:
#extract individual groups
group1 = df_1984[df_1984["CO2 Group"] == "Low-Level CO2"]["Birthrate_1984"]
group2 = df_1984[df_1984["CO2 Group"] == "Mid-Level CO2"]["Birthrate_1984"]
group3 = df_1984[df_1984["CO2 Group"] == "High-Level CO2"]["Birthrate_1984"]

In [ ]:
#perform the anova
stats.f_oneway(group1, group2, group3)

In [ ]:
#we reject the null hypothesis (that the 'populations' have the same mean)

In [ ]:
#independent t-test
#calculate the 'population' mean for birthrate in lowest co2 group (year 1984)
population1 = df_1984[df_1984["CO2 Group"] == "Low-Level CO2"]
population1.Birthrate_1984.mean()

In [ ]:
#calculate the 'population' mean for birthrate in mid co2 group (year 1984)
population2 = df_1984[df_1984["CO2 Group"] == "Mid-Level CO2"]
population2.Birthrate_1984.mean()

In [ ]:
#calculate the 'population' mean for birthrate in highest co2 group (year 1984)
population3 = df_1984[df_1984["CO2 Group"] == "High-Level CO2"]
population3.Birthrate_1984.mean()

In [ ]:
#calculate independent (two sample) t-test, low v mid (1984)
stats.ttest_ind(population1.Birthrate_1984, population2.Birthrate_1984, equal_var=False)

In [ ]:
#calculate independent (two sample) t-test, low v high (1984)
stats.ttest_ind(population1.Birthrate_1984, population3.Birthrate_1984, equal_var=False)

In [ ]:
#calculate independent (two sample) t-test, mid v high (1984)
stats.ttest_ind(population2.Birthrate_1984, population3.Birthrate_1984, equal_var=False)

In [ ]:
df_1994

In [ ]:
df_1994.describe()

In [ ]:
#try binning on the 1994 df
#group by co2 emissions <=19.87, (19.87, 39.74], > 39.74

#create bins to place the carbon emissions
#bins = [0, 19.87, 39.74, 59.7]
#change bins in order to pull out the singleton high level co2
bins = [0, 10.47, 20.94, 31.5]

#create labels for the bins
group_labels = ["Low-Level CO2", "Mid-Level CO2", "High-Level CO2"]

In [ ]:
 # Slice the data and place it into bins
pd.cut(df_1994["1994 CO2 Emissions"], bins, labels=group_labels).head()

In [ ]:
#place the data series into a new column inside of the DataFrame
df_1994["CO2 Group"] = pd.cut(df_1994["1994 CO2 Emissions"], bins, labels=group_labels)
df_1994

In [ ]:
#try running ANOVA on the above dataframe

#create a boxplot to compare means
df_1994.boxplot("Birthrate_1994", by="CO2 Group", figsize=(20, 10))

In [ ]:
#extract individual groups
group1 = df_1994[df_1994["CO2 Group"] == "Low-Level CO2"]["Birthrate_1994"]
group2 = df_1994[df_1994["CO2 Group"] == "Mid-Level CO2"]["Birthrate_1994"]
group3 = df_1994[df_1994["CO2 Group"] == "High-Level CO2"]["Birthrate_1994"]

In [ ]:
#perform the anova
stats.f_oneway(group1, group2, group3)

In [ ]:
#we fail to reject the null hypothesis (that the 'populations' have the same mean)

In [ ]:
#independent t-test
#calculate the 'population' mean for birthrate in lowest co2 group (year 1994)
population1 = df_1994[df_1994["CO2 Group"] == "Low-Level CO2"]
population1.Birthrate_1994.mean()

In [ ]:
#calculate the 'population' mean for birthrate in mid co2 group (year 1994)
population2 = df_1994[df_1994["CO2 Group"] == "Mid-Level CO2"]
population2.Birthrate_1994.mean()

In [ ]:
#calculate the 'population' mean for birthrate in highest co2 group (year 1994)
population3 = df_1994[df_1994["CO2 Group"] == "High-Level CO2"]
population3.Birthrate_1994.mean()

In [ ]:
#calculate independent (two sample) t-test, low v mid (1994)
stats.ttest_ind(population1.Birthrate_1994, population2.Birthrate_1994, equal_var=False)

In [ ]:
#WHAT'S WRONG
#calculate independent (two sample) t-test, low v high (1994)
stats.ttest_ind(population1.Birthrate_1994, population3.Birthrate_1994, equal_var=False)

In [ ]:
#WHAT'S WRONG
#calculate independent (two sample) t-test, mid v high (1994)
stats.ttest_ind(population2.Birthrate_1994, population3.Birthrate_1994, equal_var=False)

In [ ]:
df_2004

In [ ]:
df_2004.describe()

In [ ]:
#try binning on the 2004 df
#group by co2 emissions <=18.87, (18.87, 37.74], > 37.74

#create bins to place the carbon emissions
#bins = [0, 18.87, 37.74, 56.7]
#change bins in order to pull out singleton high level co2
bins = [0, 9.43, 18.87, 28.9]

#create labels for the bins
group_labels = ["Low-Level CO2", "Mid-Level CO2", "High-Level CO2"]

In [ ]:
 # Slice the data and place it into bins
pd.cut(df_2004["2004 CO2 Emissions"], bins, labels=group_labels).head()

In [ ]:
#place the data series into a new column inside of the DataFrame
df_2004["CO2 Group"] = pd.cut(df_2004["2004 CO2 Emissions"], bins, labels=group_labels)
df_2004

In [ ]:
#try running ANOVA on the above dataframe

#create a boxplot to compare means
df_2004.boxplot("Birthrate_2004", by="CO2 Group", figsize=(20, 10))

In [ ]:
#extract individual groups
group1 = df_2004[df_2004["CO2 Group"] == "Low-Level CO2"]["Birthrate_2004"]
group2 = df_2004[df_2004["CO2 Group"] == "Mid-Level CO2"]["Birthrate_2004"]
group3 = df_2004[df_2004["CO2 Group"] == "High-Level CO2"]["Birthrate_2004"]

In [ ]:
#perform the anova
stats.f_oneway(group1, group2, group3)

In [ ]:
#we fail to reject the null hypothesis (that the 'populations' have the same mean)

In [ ]:
#independent t-test
#calculate the 'population' mean for birthrate in lowest co2 group (year 2004)
population1 = df_2004[df_2004["CO2 Group"] == "Low-Level CO2"]
population1.Birthrate_2004.mean()

In [ ]:
#calculate the 'population' mean for birthrate in mid co2 group (year 2004)
population2 = df_2004[df_2004["CO2 Group"] == "Mid-Level CO2"]
population2.Birthrate_2004.mean()

In [ ]:
#calculate the 'population' mean for birthrate in highest co2 group (year 2004)
population3 = df_2004[df_2004["CO2 Group"] == "High-Level CO2"]
population3.Birthrate_2004.mean()

In [ ]:
#calculate independent (two sample) t-test, low v mid (2004)
stats.ttest_ind(population1.Birthrate_2004, population2.Birthrate_2004, equal_var=False)

In [ ]:
#WRONG
#calculate independent (two sample) t-test, low v high (2004)
stats.ttest_ind(population1.Birthrate_2004, population3.Birthrate_2004, equal_var=False)

In [ ]:
#WRONG
#calculate independent (two sample) t-test, mid v high (2004)
stats.ttest_ind(population2.Birthrate_2004, population3.Birthrate_2004, equal_var=False)

In [ ]:
df_2014.describe()

In [ ]:
#try binning on the 2014 df
#group by co2 emissions <=15.13, (15.13, 30.26], > 30.26

#create bins to place the carbon emissions
bins = [0, 15.13, 30.26, 45.5]

#create labels for the bins
group_labels = ["Low-Level CO2", "Mid-Level CO2", "High-Level CO2"]

In [ ]:
 # Slice the data and place it into bins
pd.cut(df_2014["2014 CO2 Emissions"], bins, labels=group_labels).head()

In [ ]:
#place the data series into a new column inside of the DataFrame
df_2014["CO2 Group"] = pd.cut(df_2014["2014 CO2 Emissions"], bins, labels=group_labels)
df_2014

In [ ]:
#try running ANOVA on the above dataframe

#create a boxplot to compare means
df_2014.boxplot("Birthrate_2014", by="CO2 Group", figsize=(20, 10))

In [ ]:
#extract individual groups
group1 = df_2014[df_2014["CO2 Group"] == "Low-Level CO2"]["Birthrate_2014"]
group2 = df_2014[df_2014["CO2 Group"] == "Mid-Level CO2"]["Birthrate_2014"]
group3 = df_2014[df_2014["CO2 Group"] == "High-Level CO2"]["Birthrate_2014"]

In [ ]:
#perform the anova
stats.f_oneway(group1, group2, group3)

In [ ]:
#we fail to reject the null hypothesis (that the 'populations' have the same mean)

In [ ]:
#independent t-test
#calculate the 'population' mean for birthrate in lowest co2 group (year 2014)
population1 = df_2014[df_2014["CO2 Group"] == "Low-Level CO2"]
population1.Birthrate_2014.mean()

In [ ]:
#calculate the 'population' mean for birthrate in mid co2 group (year 2014)
population2 = df_2014[df_2014["CO2 Group"] == "Mid-Level CO2"]
population2.Birthrate_2014.mean()

In [ ]:
#calculate the 'population' mean for birthrate in mid co2 group (year 2014)
population3 = df_2014[df_2014["CO2 Group"] == "High-Level CO2"]
population3.Birthrate_2014.mean()

In [ ]:
#calculate independent (two sample) t-test, low v mid (2014)
stats.ttest_ind(population1.Birthrate_2014, population2.Birthrate_2014, equal_var=False)

In [ ]:
#calculate independent (two sample) t-test, low v high (2014)
stats.ttest_ind(population1.Birthrate_2014, population3.Birthrate_2014, equal_var=False)

In [ ]:
#calculate independent (two sample) t-test, mid v high (2014)
stats.ttest_ind(population2.Birthrate_2014, population3.Birthrate_2014, equal_var=False)

In [ ]:
# Vallie's code stops here

# Presentation Guidelines   

**TITLE SLIDE**      
1.)  Include the name of the Project and Group Members

**MOTIVATION & SUMMARY SLIDE:**     
1.) Define the core message or hypothesis of your project--At least for Kaan and I, our null hypothesis is that co2 has no impact on birthrate.  Do we say that our hypothesis is that co2 does impact birthrate (but the null hypothesis is our way of trying to prove it??)     
     
2.) Describe the questions you asked, and why you asked them--Can you statistically show a direct correlation between co2 emissions and birthrate?  What does it matter if we can't prove it with the numbers.      
     
3.)  Describe whether you were able to answer these questions to your satisfaction, and briefly summarize your findings--Looking directly at co2 emissions and birthrate, we did discover some potentiall statistically significant data.  When performing the anova test, we rejected our null hypothesis for 7 out of our 10 years.  And we further found statistically significant p-values when looking at smaller groups within the anova test.  

We obviously only scratched the surface, so I would say no, we didn't answer our questions to our satisfaction.

**QUESTIONS & DATA:**     
1.)  Elaborate on the questions you asked, describing what kinds of data you needed to answer them, and where you found it--

**DATA CLEANUP & EXPLORATION:**     
1.)  Describe the exploration and cleanup process

2.)  Discuss insights you had while exploring the data that you didn't anticipate

3.)  Discuss any problems that arose after exploring the data, and how you resolved them

4.)  Present and discuss interesting figures developed during exploration, ideally with the help of Jupyter Notebook

**DATA ANALYSIS:**     
1.)  Discuss the steps you took to analyze the data and answer each question you asked in your proposal     

2.)  Present and discuss interesting figures developed during analysis, ideally with the help of Jupyter Notebook

**DISCUSSION:**      
1.)  Discuss your findings. Did you find what you expected to find? If not, why not?        

2.)  What inferences or general conclusions can you draw from your analysis?

**POST MORTEM**       
1.)  Discuss any difficulties that arose, and how you dealt with them     

2.)  Discuss any additional questions that came up, but which you didn't have time to answer: What would you research next, if you had two more weeks?

**QUESTIONS**     
Open-floor Q&A with the audience